body{
    font: 15px/1.5 Helvetica, sans-serif;
    padding: 0;
    margin:0;
    background-color: #ffffff;
    overflow-x: hidden;
    position: relative;
  }
.bg-color {
  background-color: #EC407A;
}

.fbold{
  font-weight: bold;
}

#Home {
  color: #ffffff;
  background-size: cover;
  height: 70vh;
}

#Bumbu {
  height: 70vh;
}

.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stroke {
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.flight{
  font-weight: bold;
  color: #EC407A;
}

.fmy{
  font-size: 1.4rem;
}

#contact input{
  background-color: #EC407A;
  border-radius: 15px;
  border: solid;
  color: #ffffff;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

#contact input:hover {
  background-color: #ffffff;
  color: #EC407A;
}

.alb{
  color: #ffffff;
}

footer .insta .fa {
  width: 27px;
	height: 27px;

  background-color:  #a52e2e;
  border-radius: 2px;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
	line-height: 27px;
}

footer .insta .fa:hover{
  color: #a52e2e;
  background-color: #ffffff;

}